body{
  font-family: 'Roboto', sans-serif;
}

h1 {
    color: #27e036
}

p {
    font-weight: bold;
    font-size: 2em;
  }
  
p,
a,
.date {
  border: 1px solid black;
  margin: .5em auto;
  background-color:rgb(81, 180, 81);
  padding: 1em 2em 3em 4em;
  width: 200px;
  height: 20%;
  
}
